.characters {
  display:flex;
  flex-wrap: wrap;
  list-style: none;  
  gap: 8vh;
  justify-content: center;
  text-align: center;
}

.descriptions{
 margin-left: -5vh;
}

li {
  list-style: none;
  
  width: 35vh;
}
img {
  height: 40vh;
}

h2 {
  font-size: 10vh;
  text-align: center;
}



.ingredients {
  font-weight: bold;
}
.ingredientList {
margin-left: -3vh;
}
h4 {
  font-size: 3vh;
  border: dotted black 4px;
  text-align: center;
}